<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jaxrs="http://cxf.apache.org/jaxrs"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://cxf.apache.org/jaxrs
http://cxf.apache.org/schemas/jaxrs.xsd">

  <import resource="classpath:META-INF/cxf/cxf.xml"/>
  <import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

  <jaxrs:server id="restService" address="/rest">
    <jaxrs:serviceBeans>
      <ref bean="configurationResource"/>
      <ref bean="userResource"/>
      <ref bean="taskResource"/>
      <ref bean="objectSetResource"/>
      <ref bean="objectStoreResource"/>
      <ref bean="systemLogResource"/>
      <ref bean="taskLogResource"/>
    </jaxrs:serviceBeans>
    <jaxrs:extensionMappings>
      <entry key="json" value="application/json" />
      <entry key="xml" value="application/xml" />
    </jaxrs:extensionMappings>
  </jaxrs:server>

  <bean id="configurationResource" class="com.github.cwilper.fcrepo.cloudsync.service.rest.ConfigurationResource"/>
  <bean id="userResource" class="com.github.cwilper.fcrepo.cloudsync.service.rest.UserResource"/>
  <bean id="taskResource" class="com.github.cwilper.fcrepo.cloudsync.service.rest.TaskResource"/>
  <bean id="objectSetResource" class="com.github.cwilper.fcrepo.cloudsync.service.rest.ObjectSetResource"/>
  <bean id="objectStoreResource" class="com.github.cwilper.fcrepo.cloudsync.service.rest.ObjectStoreResource"/>
  <bean id="systemLogResource" class="com.github.cwilper.fcrepo.cloudsync.service.rest.SystemLogResource"/>
  <bean id="taskLogResource" class="com.github.cwilper.fcrepo.cloudsync.service.rest.TaskLogResource"/>
</beans>
