<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--
    Allows use of ${refs-like-this}, sourced from properties files or
    System properties.
  -->
  <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="locations">
      <list>
        <value>WEB-INF/cloudsync.properties</value>
      </list>
    </property>
  </bean>

  <import resource="security.xml"/>
  <import resource="rest-api.xml"/>
  <import resource="svc-impl.xml"/>

</beans>
