  ---
  Usage
  ---

Using ${artifactId}

* Installation

  * Make sure you have Java 6+ installed and <<<java>>> is in your <<<PATH>>>

  * Download and unpack the distribution:
  
    * {{{http://repo2.maven.org/maven2/com/github/cwilper/fcrepo-misc/${artifactId}/${currentVersion}/${artifactId}-${currentVersion}-install.tar.gz}${artifactId}-${currentVersion}-install.tar.gz}} (Unix/Mac)

    * {{{http://repo2.maven.org/maven2/com/github/cwilper/fcrepo-misc/${artifactId}/${currentVersion}/${artifactId}-${currentVersion}-install.zip}${artifactId}-${currentVersion}-install.zip}} (Windows)

  * Optionally, add the <<<bin>>> directory to your <<<PATH>>>

* Command Line Usage

+--
fcrepo-flexport flexport.conf flexport.spec [ list | dryrun | export ]
+--

  Where:

    * list - just prints the matching PIDs to standard output

    * dryrun - doesn't export any files; just validates the input and tells
      you what it would do

    * export - actually runs the export

* Configuration

  <<<flexport.conf>>>

+--
# Fedora repository connection info
fedora.url  = http://localhost:8080/fedora
fedora.user = fedoraAdmin
fedora.pass = fedoraAdmin

# Where to export; will be auto-created if it doesn't exist
export.dir = /tmp/flexport-test/objects

# Any other user-defined properties to be expanded in flexport.spec
my.dir = /tmp/flexport-test/datastreams
+--

  <<<flexport.spec>>>

+--
# Any number of static PIDs, one per line
demo:ThisObject1
demo:ThisObject2

# Any number of PID patterns, one per line
demo:ThatObject*

# Followed by any number of SPARQL queries, each starting with [sparql-query]
[sparql-query]
SELECT ?object
WHERE {
  ?object
    <info:fedora/fedora-system:def/model#hasModel>
      <info:fedora/fedora-system:ContentModel-3.0>.
}

# Followed by any number of Datastream Rules, each starting with [ds-rule]
[ds-rule]
filter ds.ID              DS or DS2 or DS3
filter ds.CONTROL_GROUP   M
filter dsv.MIME_TYPE      text/plain
filter dsv.LATEST_VERSION true
action SAVE-TO            ${my.dir}/${pid.fn}/${ds.ID}.${dsv.ID}.txt
action SET-REF            file://${my.dir}/${pid.fn}/${ds.ID}/${dsv.ID}.txt

[ds-rule]
filter ds.ID              DS or DS2 or DS3
filter ds.CONTROL_GROUP   M
filter dsv.MIME_TYPE      text/plain
filter dsv.MIN_SIZE       0
filter dsv.MAX_SIZE       1024
filter dsv.LATEST_VERSION false
action DROP
+--

