  ---
  About
  ---

About ${artifactId}

  This library provides a client for performing RDF queries against a Fedora
repository:

    * <<<{{{./apidocs/com/github/cwilper/fcrepo/riclient/RIClient.html}RIClient}}>>>
      - Fedora Resource Index Client

  For more information, see {{{./usage.html}Usage}} and
{{{./apidocs/index.html}Javadocs}}
